## Задание 0

Для всех  заданий будем использовать обезличенные транзакционные банковские данные. Для этого считайте в переменные **tr_mcc_codes, tr_types, transactions и gender_train** из одноимённых таблиц из папки [data](https://drive.google.com/drive/folders/1YAMe7MiTxA-RSSd8Ex2p-L0Dspe6Gs4L). 

Для таблицы transactions используйте только первые n=1000000 строк. При чтении файлов обратите внимание на разделители внутри каждого из файлов - они могут различаться!

###  Описание данных
#### Таблица ```transactions.csv```
##### Описание
Таблица содержит историю транзакций клиентов банка за один год и три месяца.

##### Формат данных

```
customer_id,tr_datetime,mcc_code,tr_type,amount,term_id
111111,15 01:40:52,1111,1000,-5224,111111
111112,15 15:18:32,3333,2000,-100,11122233
...
```
##### Описание полей

 - ```customer_id``` — идентификатор клиента;
 - ```tr_datetime``` — день и время совершения транзакции (дни нумеруются с начала данных);
 - ```mcc_code``` — mcc-код транзакции;
 - ```tr_type``` — тип транзакции;
 - ```amount``` — сумма транзакции в условных единицах со знаком; ```+``` — начисление средств клиенту (приходная транзакция), ```-``` — списание средств (расходная транзакция);
 - ```term_id``` — идентификатор терминала;


#### Таблица ```gender_train.csv```

##### Описание
Данная таблица содержит информацию по полу для части клиентов, для которых он известен. Для остальных клиентов пол неизвестен.

##### Формат данных
```
customer_id,gender
111111,0
111112,1
...
```

##### Описание полей
 - ```customer_id``` — идентификатор клиента;
 - ```gender``` — пол клиента;

### Таблица ```tr_mcc_codes.csv```

##### Описание
Данная таблица содержит описание mcc-кодов транзакций.

##### Формат данных
```
mcc_code;mcc_description
1000;словесное описание mcc-кода 1000
2000;словесное описание mcc-кода 2000
...
```

##### Описание полей
 - ```mcc_code``` – mcc-код транзакции;
 - ```mcc_description``` — описание mcc-кода транзакции.

#### Таблица ```tr_types.csv```

##### Описание
Данная таблица содержит описание типов транзакций.

##### Формат данных
```
tr_type;tr_description
1000;словесное описание типа транзакции 1000
2000;словесное описание типа транзакции 2000
...
```

##### Описание полей
 - ```tr_type``` – тип транзакции;
 - ```tr_description``` — описание типа транзакции;

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
transactions = pd.read_csv("/content/drive/MyDrive/Data/transactions.csv", sep=',', nrows=1000000)
gender_train = pd.read_csv("/content/drive/MyDrive/Data/gender_train.csv", sep=',')
tr_mcc_codes = pd.read_csv(filepath_or_buffer = "/content/drive/MyDrive/Data/tr_mcc_codes.csv", sep = ';')
tr_types = pd.read_csv("/content/drive/MyDrive/Data/tr_types.csv", sep=';')
transactions
# gender_train
# tr_mcc_codes
# tr_types

        customer_id   tr_datetime  mcc_code  tr_type    amount   term_id
0          39026145    0 10:23:26      4814     1030  -2245.92       NaN
1          39026145    1 10:19:29      6011     7010  56147.89       NaN
2          39026145    1 10:20:56      4829     2330 -56147.89       NaN
3          39026145    1 10:39:54      5499     1010  -1392.47       NaN
4          39026145    2 15:33:42      5499     1010   -920.83       NaN
...             ...           ...       ...      ...       ...       ...
999995     98801178  269 10:29:06      5921     1010 -23016.59    127873
999996     98801178  270 10:26:45      5211     1010 -61380.88  10114209
999997     98801178  270 15:18:53      5921     1010 -11800.27  10105341
999998     98801178  271 12:47:13      5211     1010 -16170.59  10114209
999999     98801178  271 14:51:56      5921     1010 -10025.77    123991

[1000000 rows x 6 columns]

## Задание 1

1. Для столбца tr_type датафрейма transactions выберите произвольные 1000 строк с помощью метода sample
2. В полученной на предыдущем этапе подвыборке найдите долю транзакций (стобец tr_description в датасете tr_types), в которой содержится подстрока 'POS' или 'ATM'

Без использования merge!

In [ ]:
transactions1000=transactions.tr_type.sample(1000, random_state=239)
'''
идём в tr_types;
смотрим на все столбцы tr_description;
если в столбце есть POS/ATM, то возвращаем tr_type
'''
POS_types=tr_types[tr_types.tr_description.str.contains('POS')].tr_type
ATM_types=tr_types[tr_types.tr_description.str.contains('АТМ')].tr_type # русскими буквами
answer1=transactions1000.apply(lambda t: (t in POS_types.values) or (t in ATM_types.values)).sum()/1000.0
print('Ответ:', answer1)

Ответ: 0.613

## Задание 2

1. Для столбца tr_type датафрейма transactions посчитайте частоту встречаемости всех типов транзакций tr_type в transactions.
2. Выведите топ-10 транзакций по частоте встречаемости (вывести для них tr_description тоже).

In [ ]:
top10_types=transactions.tr_type.value_counts().sort_values(ascending=False).head(10)
# выводим все tr_types, у которых tr_type равно top10_type
answer2=tr_types[tr_types.tr_type.isin(top10_types.index)]
answer2

     tr_type                                     tr_description
39      7010       Взнос наличных через АТМ (в своем тер.банке)
47      7030  Перевод на карту (с карты) через АТМ (в предел...
59      7070  Перевод на карту (с карты) через Мобильный бан...
60      7071  Перевод на карту (с карты) через Мобильный бан...
98      1010                              Покупка. POS ТУ СБ РФ
99      1030                     Оплата услуги. Банкоматы СБ РФ
100     1100                                Покупка. ТУ  Россия
101     1110                             Покупка. POS ТУ Россия
106     2010              Выдача наличных в АТМ Сбербанк России
129     2370  Списание с карты на карту по операции <перевод...

## Задание 3
1. В датафрейме transactions найдите клиента с максимальной суммой приходов на карту
2. В датафрейме transactions найдите клиента с максимальной суммой расходов по карте
3. Найдите модуль разницы для этих клиентов между суммой расходов и суммой приходов

In [ ]:
positive_transactions=transactions[transactions.amount>0] # Учитываем только пополнения
positive_customers=positive_transactions.groupby('customer_id').sum() # суммируем пополнения
max_amount=positive_customers.amount.max() # Находим максимальное сумарное пополнение
customer3_1=positive_customers[positive_customers.amount==max_amount] # Находим нужного клиента
customer3_1_id=positive_customers.amount.idxmax() # и его индекс customer_id
customer3_1

              mcc_code    tr_type        amount   gender
customer_id
70780820     530700254  623691441  1.248115e+09  88304.0

In [ ]:
negative_transactions=transactions[transactions.amount<0]
negative_customers=negative_transactions.groupby('customer_id').sum()
min_amount=negative_customers.amount.min()
customer3_2=negative_customers[negative_customers.amount==min_amount]
customer3_2_id=negative_customers.amount.idxmin()
customer3_2

             mcc_code  tr_type        amount  gender
customer_id
70780820      2686385  1093690 -1.249952e+09   477.0

In [ ]:
customer3_1_diff=abs(max_amount+negative_customers.loc[customer3_1_id][2])
customer3_2_diff=abs(min_amount+positive_customers.loc[customer3_2_id][2])
print('Модуль разницы для первого клиента:', customer3_1_diff)
print('Модуль разницы для второго клиента:', customer3_2_diff)

Модуль разницы для первого клиента: 1837317.9799933434
Модуль разницы для второго клиента: 1837317.9799933434

## **Задание:**

Выведите идентификатор клиента в задании 3.

Найдите его пол.

Найдите день, в который у клиента было максимальное поступление на счёт.

Найдите идентификатор клиента противоположного пола, у которого в этот же день были максимальные траты по тому же mcc_code.

In [ ]:
print('Идентификатор клиента:', customer3_1_id)

customer_gender=transactions[transactions.customer_id==customer3_1_id].gender.max()
print('Пол клиента:', customer_gender)

max_income=transactions[transactions.customer_id==customer3_1_id].amount.max()
date=transactions[transactions.amount==max_income].tr_datetime
day=str(*date).split()[0]
print('День, в который у клиента было максимальное поступление на счёт:', day)

code=transactions[transactions.amount==max_income].mcc_code
# print('mmc_code:',*code) #6010

day_code_gender_trasctions=transactions[transactions.gender!=customer_gender][transactions.mcc_code==int(code)][transactions.tr_datetime.str.contains(day)]
other_gender_max_amount=day_code_gender_trasctions.amount.max()
# other_gender_max_amount
other_gender_id=day_code_gender_trasctions[day_code_gender_trasctions.amount==other_gender_max_amount].customer_id
print('id:', *other_gender_id)

Идентификатор клиента: 70780820
Пол клиента: 1.0
День, в который у клиента было максимальное поступление на счёт: 410

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

id: 52920077

## Задание 4
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций из топ 10 из задания 2
1. Найдите среднее арифметическое и медиану по amount по всем типам транзакций для клиентов из задания 3

In [ ]:
top10_transactions=transactions[transactions.tr_type.isin(top10_types.index)]
print('Cреднее арифметическое по всем типам транзакций из топ 10 из задания 2')
top10_transactions.groupby('tr_type').amount.mean()

Cреднее арифметическое по всем типам транзакций из топ 10 из задания 2

tr_type
1010    -19784.748640
1030     -5320.980222
1100    -44061.827262
1110    -32119.330371
2010   -136077.629325
2370   -205418.249032
7010    276391.789596
7030     86104.332909
7070     65569.831700
7071     66806.826623
Name: amount, dtype: float64

In [ ]:
print('\nCреднее арифметическое по всем типам транзакций из топ 10 из задания 2')
top10_transactions.groupby('tr_type').amount.median()

Cреднее арифметическое по всем типам транзакций из топ 10 из задания 2

tr_type
1010     -7411.52
1030     -2245.92
1100    -10188.26
1110    -11207.57
2010    -44918.32
2370    -44918.32
7010    112295.79
7030     13951.52
7070     11319.42
7071      3593.47
Name: amount, dtype: float64

In [ ]:
customer_tr_type=transactions[transactions.customer_id==customer3_1_id].groupby('tr_type')
print('Cреднее арифметическое по amount по всем типам транзакций для первого клиентa из задания 3')
customer_tr_type.mean().amount

Cреднее арифметическое по amount по всем типам транзакций для первого клиентa из задания 3

tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

In [ ]:
print('Mедианa по amount по всем типам транзакций для первого клиентa из задания 3')
customer_tr_type.mean().amount

Mедианa по amount по всем типам транзакций для первого клиентa из задания 3

tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

In [ ]:
customer_tr_type=transactions[transactions.customer_id==customer3_2_id].groupby('tr_type')
print('\nCреднее арифметическое по amount по всем типам транзакций для второго клиентa из задания 3')
customer_tr_type.mean().amount

Cреднее арифметическое по amount по всем типам транзакций для второго клиентa из задания 3

tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

In [ ]:
print('Mедианa по amount по всем типам транзакций для второго клиентa из задания 3')
customer_tr_type.mean().amount

Mедианa по amount по всем типам транзакций для второго клиентa из задания 3

tr_type
2010   -2.941056e+06
2330   -2.382398e+06
2370   -2.218505e+06
6110    1.756293e+04
7020    1.465129e+04
7021    2.850067e+04
7030    1.406196e+04
7031    1.921036e+04
7034    1.430648e+04
7040    2.153833e+04
7070    1.384821e+04
7071    1.860057e+04
7074    2.281159e+04
Name: amount, dtype: float64

## Подготовка для заданий 5-8

*Из заданий 5-8 нужно выполнить минимум два любых*

Соедините transactions с всеми остальными таблицами (tr_mcc_codes, tr_types, gender_train). Причём с gender_train необходимо смёрджиться с помощью left join, а с оставшимися датафреймами - через inner.
После получения результата таблицы gender_train, tr_types, tr_mcc_codes можно удалить. В результате соединения датафреймов должно получиться 999584 строки.

In [ ]:
transactions = pd.merge(transactions, gender_train, how='left')
transactions = pd.merge(transactions, tr_mcc_codes, how='inner')
transactions = pd.merge(transactions, tr_types, how='inner')
print(transactions.shape)
transactions.head(10)

(999584, 9)

   customer_id  ...                  tr_description
0     39026145  ...  Оплата услуги. Банкоматы СБ РФ
1     39026145  ...  Оплата услуги. Банкоматы СБ РФ
2     39026145  ...  Оплата услуги. Банкоматы СБ РФ
3     39026145  ...  Оплата услуги. Банкоматы СБ РФ
4     39026145  ...  Оплата услуги. Банкоматы СБ РФ
5     39026145  ...  Оплата услуги. Банкоматы СБ РФ
6     39026145  ...  Оплата услуги. Банкоматы СБ РФ
7     39026145  ...  Оплата услуги. Банкоматы СБ РФ
8     39026145  ...  Оплата услуги. Банкоматы СБ РФ
9     39026145  ...  Оплата услуги. Банкоматы СБ РФ

[10 rows x 9 columns]

## Задание 5

1. Определите модуль разницы между средними тратами женщин и мужчин (трата - отрицательное значение amount).
2. Определите модуль разницы между средними поступлениями у мужчин и женщин

Обратите внимание, что для вычисления модуля разности точных знаний о том, 
какой класc относится к мужчинам, а какой - к женщинам, не требуется.

In [ ]:
genders=transactions.groupby('gender')
chads=genders.get_group(1)
karens=genders.get_group(0)

chads_waste=chads[chads.amount<0].amount.mean()
chads_income=chads[chads.amount>0].amount.mean()

karens_waste=karens[karens.amount<0].amount.mean()
karens_income=karens[karens.amount>0].amount.mean()

print('Модуль разницы между средними тратами жeнщин и мужчин', abs(chads_waste-karens_waste))
print('Модуль разницы между средними поступлениями жeнщин и мужчин', abs(chads_income-karens_income))

Модуль разницы между средними тратами жeнщин и мужчин 32718.05492022563
Модуль разницы между средними поступлениями жeнщин и мужчин 63366.57104800751

## Задание 6

1. По всем типам транзакций рассчитайте максимальную сумму прихода на карту (из строго положительных сумм по столбцу amount) отдельно для мужчин и женщин (назовите ее "max_income"). Оставьте по 10 транзакций для мужчин и для женщин, наименьших среди всех транзакций по полученным значениям "max_income". 
2. Выделите среди них те типы транзакций, которые встречаются одновременно и у мужчин, и у женщин

In [ ]:
'''
Выбираем только положительные транзакции (пополнение), группируем по полу и типу транзакций.
Осталось только проссумировать amount, чтобы получить сумму пополнений для каждого типа транзакций для каждого пола 
'''
max_income=transactions[transactions.amount>0].groupby(['gender','tr_type']).amount.sum()
# Отсортируем получившиеся значения для каждого пола и оставим только 10 наименьших
men_max_income=max_income[1].sort_values().head(10)
women_max_income=max_income[0].sort_values().head(10)
print('Максимальная суммa прихода на карту для мужчин:\n',men_max_income)
print('\nМаксимальная суммa прихода на карту для женщиин:\n',women_max_income)

print('\nТипы транзакций, которые встречаются одновременно и у мужчин, и у женщин:')
for t in (men_max_income.index).intersection(women_max_income.index):
  print(t)

Максимальная суммa прихода на карту для мужчин:
 tr_type
2020      2245.92
4110      4491.84
1010     35317.03
8100     64682.37
6000     79280.83
7041     87590.72
2370    113194.15
7015    121279.45
2110    179673.26
2010    224591.59
Name: amount, dtype: float64

Максимальная суммa прихода на карту для женщиин:
 tr_type
4051     1122.96
4210     2245.92
4110     2245.92
2370     2335.75
7075     6737.75
2110    22459.16
1010    31532.66
4100    40334.88
2210    68315.82
1210    83644.87
Name: amount, dtype: float64

Типы транзакций, которые встречаются одновременно и у мужчин, и у женщин:
4110
1010
2370
2110

## Задание 7

1. Найдите суммы затрат по каждой категории (mcc) для мужчин и для женщин. 
2. Найдите топ 5 категорий с самыми большими относительными модулями разности в тратах для разных полов.

## Задание 8

1. Из поля tr_datetime выделите час tr_hour, в который произошла транзакция, как первые 2 цифры до ":". (\**)
2. Посчитайте количество транзакций с amount<0 в ночное время для мужчин и женщин. Ночное время - это примерно 00-06 часов.